*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.clear{
    clear: both;
}

/* commond */


.nav{
    background: #00a2e8;
    padding: 0 100px;
    font-size: 24px;
    position: relative;
    
}

.nav-list{
    display: inline-block;
}

.nav li{
    list-style: none;
    display: inline-block; 
}

.nav li a{
    color: #fff; 
    line-height: 48px; 
    padding: 0 16px; 
    display: inline-block;
    font-weight: 600;
}

.nav li:hover a{
    color: #00a2e8;
    background: #fff;  
}

a{
    text-decoration: none;
}

.login-register{
    display: inline-block;
    right: 100px;
    position: absolute;
    color: #fff;
}

.login-register a{
    font-size: 18px;
    line-height: 48px;
    color: #fff;
    display: inline-block;
}

.login-register a:hover{
    color: #ffb70f;
}

.sub-header{
    background: #2769e4;
    color: #ffb70f;
    padding: 8px 100px;
    font-size: 18px;
    
}

.sub-header .slogan{
    padding-left: 10px;
}

.sub-header .sign{
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Ceviche One', cursive;
    padding-right: 20px;
    border-right: 2px solid #ffb70f;
}

.content{  
    background: #369ad6;
    min-height: 100vh;
}

.nav-content{
    width: 100%;
    padding-left: 100px;
    background: #369ad6;
    
}

.nav-content-list li{
    display: inline-block;
}

.nav-content-list li a{
    color: #fff;
    display: block;
    line-height: 40px;
    padding: 0 10px;
}

.nav-content-list li a:hover{
    color: #ffb70f;
}

.nav-content-list{
    display: inline-block;
}

.search{
    display: inline-block;
    margin-left: 20px;
    position: relative;
    
}
.search-ip{
    padding: 4px 110px 4px 16px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}

.search .ti-search{
    position: absolute;
    color: #fff;
    font-size: 23px;
    padding: 4px 14px  ;
}

.search .ti-search:hover{
    color: #ffb70f;
}

.cart{
    margin-left: 68px;
    display: inline-block;
    
}

.cart a{
    color: #fff;
}
.cart a:hover{
    color: #ffb70f;
}

.col-2{
    display: inline-block;
    float:left;
}

.product{ 
    min-height: 100vh;
    background: #fff;
    width: 75%;
    height: 100%;
    text-align: center;
    padding: 0 10px;
    
}

.product-pages{
    text-align: center;
    
}

.product-pages li{
    display: inline-block;
}

.product-pages li a{
    border-radius: 6px;
    border: 3px solid #00a2e8;
    display: block;
    color: #00a2e8;
    width: 32px;
    margin: 40px 8px 20px 8px;
    padding: 2px;
    font-weight: 600;
}

.product-pages li a:hover{
    background: #ffb70f;
}

.top-sale{
    height: 100%;
}

.product-list .products-content{
    max-width: 200px;
    background: #00a2e8;
    border-radius: 0 0 12px 12px;
    color: #fff;
    padding: 10px; 
}

.description{
    min-height: 40px;
}


.products-content .price{
    text-align: center;
    
}

.product-list{
    text-align: center;
}
.product-list li{
    display: inline-block;
    margin: 18px;
    border-radius: 19px;
    border: 4px solid #00a2e8;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.3) ;  
}

.product-list li:hover
{
    border: 6px solid #ffb70f;
}


.buy:hover{
    cursor: pointer;
    border: 2px solid #ffb70f;
    background: #ffb70f;
}
.buy{
    margin-top: 12px;
    padding: 2px 6px;
    font-size: 15px;
    background: #faa32c;
    color: #fff;
    border: none;
    border-radius: 2px;
}

.product-list  li img{
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 16px 16px 0 0;
}

.top-sale{
    color: #fff;
    width: 25%;
    text-align: center;
    margin: 0;
    position: fixed;
}

.top-sale select{
    background: #faa32c;
    color: #fff;
    font-size: 16px;
    margin-top: 4px;
    padding: 5px;
    font-weight: 600;
    border: none;
    outline: none;
}

.modal{
    background: rgba(0, 0, 0, 0.3);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.register-form
{
    
    width: 800px;
    background: #fff;
    position: relative;
    animation: scrollmodal ease 0.6s;
}

.register-form-header{
    background: #00a2e8;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 36px;
}

.register-form-header .ti-close
{
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 28px;
    padding: 12px;
}

.register-form-header .ti-close:hover{
    
    background: #faa32c;
}

.clear{
    clear: both;
}

.register-form-body{
    margin: 0 40px 40px;
}

.register-form-body input[type="text"]{
    width: 80%;
    padding: 6px;
    font-size: 16px;
    
}

.register-form-body input:focus{
    border: 2px solid #ffb70f;
    outline: #ffb70f;
}
select:hover{
    opacity: 0.7;
    cursor: pointer;
}

.register-form p{
    margin-top: 10px;
}

.register-info{
    width: 50%;
}

.register{
    width: 50%;
}

.register-form-footer input{
    margin: 0 40px 40px;
    font-size: 16px;
    padding: 6px;
    color: #fff;
    background: #faa32c;
    border: none;
    border-radius: 2px;
}

.register-form-footer input:hover{
    opacity: 0.7;
    cursor: pointer;
}

.modal-login{
    background: rgba(0, 0, 0, 0.3);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.login-form
{
    
    width: 800px;
    background: #fff;
    position: relative;
    animation: scrollmodal ease 0.6s;
}

.login-form-header{
    background: #00a2e8;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 36px;
}

.login-form-header .ti-close
{
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 28px;
    padding: 12px;
}

.login-form-header .ti-close:hover{
    
    background: #faa32c;
}

.clear{
    clear: both;
}

.login-form-body{
    margin: 0 40px 40px;
}

.login-form-body input{
    width: 80%;
    padding: 6px;
    font-size: 16px;
}

.login-form p{
    margin-top: 10px;
}

.login-info{
    width: 50%;
}

.login-in{
    width: 50%;
}

.login-form-footer input{
    margin: 0 40px 40px;
    font-size: 16px;
    padding: 6px;
    color: #fff;
    background: #faa32c;
    border: none;
    border-radius: 2px;
}

.login-form-footer input:hover{
    opacity: 0.7;
    cursor: pointer;
}

.open{
    display: flex;
}

@keyframes scrollmodal{
    from{
        transform: translateY(-300px);
        opacity: 0.4;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    } 
}

